* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(29, 71%, 81%);
}

#invalid {
    color: hsl(0, 95%, 63%);
}

#valid {
    color: rgb(73, 250, 73);
}

li {
    list-style-type: none;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

input {
    outline: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: hsl(25, 34%, 45%);
}

.container {
    background: linear-gradient(120deg, hsl(18, 59%, 86%) ,hsl(17, 34%, 62%));
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px hsl(18, 59%, 86%);
    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    text-align: center;
}

#results-div {
    margin-top: 1.5rem;
}